#quadro{
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    
}

#tela{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}